@{
    ViewBag.Title = "About";
}

<div class="row">
	<div class="small-12 columns text-center">
		<h1>Trellodoro</h1>
		<h2>Trello + Pomodoro = Personal Kanban Bliss</h2>
	</div>
</div>

<div class="row">
	<div class="small-12 columns text-center">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>How it Works</h2>
		
		<p>
			The beauty is in the simplicity.
		</p>
		
		<p>
			First, connect to your Trello account. Then select a card that you want to 
			work on. Then click the "Go" button.
		</p>
		
		<p>
			This will open up the timer. Then click the "Start" button. The timer will
			give you a 25 minute countdown and ring when time is up. It will immediately
			jump into a 5 minute break timer for you.
		</p>
		
		<p>
			Once your break is up (or anytime really). Click the "Pomodoro" button. This
			will add a sticker to your card in Trello (it shows up almost immediately!).
			Each sticker is offset, so you can see how many pomodoros you've completed.
		</p>
		
		<p>
			When you're ready to start on another task. Close the timer, select a new
			card from the drop down list, and click the "Go" button again!
		</p>
		
		<p>
			<a href="/">Now start that clock!</a>
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Run Anywhere</h2>
		
		<p>
			Trellodoro is built using the amazing <a href="http://foundation.zurb.com" target="_blank">Zurb Foundation</a> framework.
			That means you can run Trellodoro on your "small screen", tablet, or even phone
			and still see the updates on your Trello board.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Why Trellodoro?</h2>
		
		<p>
			I've been on a quest to make the <a href="http://personalkanban.com" target="_blank"></a> and the <a href="http://pomodorotechnique.com">Pomodoro Technique</a> work for my day to
			day programming needs. I've tried <a href="http://dillieodigital.wordpress.com/2012/03/08/kanned-tomatoes-a-kanban-pomodoro-way-of-getting-things-done/" target="_blank">not once</a>, 
			but <a href="http://dillieodigital.wordpress.com/2014/05/28/kanned-tomatoes-an-update/" target="_blank">two times</a> to
			make things work and I think I'm finally making progres..
		</p>
		
		<p>
			Both times, I kept coming back to <a href="http://trello.com" target="_blank">Trello</a> as
			the place where I like to keep my personal kanban board. However, I didn't
			have a way to store my Pomodoro iterations on the cards without modifying
			descriptions, and losing a bit of time along the way.
		</p>
		
		<p>
			However, thanks to the Trello API, this can now be done easily through the use
			of Trello's "stickers" feature. One clock sticker indicates one "pomodoro" completed.
			I can easily update the cards from within my own timer and move on to the next.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Customization</h2>
		
		<p>
			Do you need a longer or shorter pomodoro period? Simply change the values in
			the "Configure Pomodoro Timer" section to meet your needs before clicking the
			"Go" button. If you reset your timer, it'll remember these values.
		</p>
		
		<p>
			Moving forward, I'm looking to add some additional customziations depending
			on need. Maybe you want some different stickers? Random stickers? Custom stickers?
			I'll see what I can do. Check out the 
			<a href="https://trello.com/b/1UhfdPHs/trellodoro" target="blank">Trellodoro Trello Board</a> and
			provide your feedback.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Feedback & Donations</h2>
		
		<p>
			Feeback is ALWAYS welcome and if you feel like donating to support me and the site,
			I won't shy away from that. See the @Html.ActionLink("support", "Support") page for details.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version</h2>
		
		<p>
			The current version is 1.2. See the @Html.ActionLink("Change Log", "ChangeLog") 
			for details on what has been changed.
		</p>
	</div>
</div>