@{
    ViewBag.Title = "Change Log";
}

<div class="row">
    <div class="small-12 columns">
        <h2>Version 1.3.2</h2>

        <p>
            Removed a couple unused dependencies to eliminate small security
			issues. Upgraded underlying .Net Framework to 4.8.
        </p>
    </div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.3.1</h2>
		
		<p>
			Excluded closed boards from the list. Less clutter!!!
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.3</h2>
		
		<p>
			Added ability to create a new card within Trellodoro.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.2</h2>
		
		<p>
			Updated board retrieval process to retrive all boards/cards, not just ones that
			have cards assigned to you.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.1</h2>
		
		<p>
			Added board / card select lists for easier navigation with multiple boards
			and/or lots of assigned cards.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.0</h2>
		
		<p>
			Initial release.
		</p>		
	</div>
</div>