@{
    ViewBag.Title = "Change Log";
}

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.1</h2>
		
		<p>
			Added board / card select lists for easier navigation with multiple boards
			and/or lots of assigned cards.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Version 1.0</h2>
		
		<p>
			Initial release.
		</p>		
	</div>
</div>