<form class="custom">
	<div class="row">
		<div class="small-12 columns small-centered">
			<fieldset>
				<legend id="trelloLegend">Trello</legend>
				<div id="loggedout">
					<a id="connectTrelloButton" href="#" class="button radius">Connect To Trello</a>
				</div>

				<div id="loggedin" style="display: none;">
					<div class="row">
						<div class="small-6 columns">		
							<label>Select A Board</label>
							<select id="boardSelect"></select>						
						</div>

						<div class="small-6 columns">
							<label>Select A Card</label>
							<select id="cardSelect"></select>
						</div>	
					</div>
				
					<div class="row">
						<div class="small-6 columns">
							<a id="btn-refresh-cards"class="button radius small">Refresh Cards</a>							
						</div>
						
						<div class="small-6 columns">
							<a class="button radius small" data-reveal-id="clock-modal">Launch Timer</a>
						</div>
					</div>					
				</div>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<fieldset>
				<legend>Configure Pomodoro Timer</legend>
				
				<div class="small-4 columns">
					<fieldset>
						<legend>Hours</legend>
						<input id="input-hours" type="tel" placeholder="0" />
					</fieldset>
				</div>

				<div class="small-4 columns">
					<fieldset>
						<legend>Minutes</legend>
						<input id="input-minutes" type="tel" placeholder="25" />
					</fieldset>
				</div>

				<div class="small-4 columns">
					<fieldset>
						<legend>Seconds</legend>
						<input id="input-seconds" type="tel" placeholder="0" />
					</fieldset>
				</div>
			</fieldset>
		</div>		
	</div>		

	<div id="clock-modal" class="reveal-modal full full-background" data-reveal>
		<div id="status-box" data-alert class="alert-box success radius">
			Pomodoro added to card.
			<a href="#" class="close">&times;</a>
		</div>

		<div id="clock-display-wrapper" style="text-align: center;">
			<div id="clock-display" class="hide-for-medium-down">Ready...</div>
			<h1 id="clock-display-mobile" class="hide-for-large-up">Ready...</h1>
		</div>

		<div id="footer">
			<div class="small-9 small-centered columns">				
				<div class="current-card">
					Current Card: <span id="currentCard">None</span>
				</div>

				<ul class="button-group even-3">
					<li><a id="button-start" class="radius button">Start</a></li>
					<li><a id="button-pause" class="radius button">Pause</a></li>
					<li><a id="button-resume" class="radius button">Resume</a></li>
					<li><a id="button-reset" class="radius button">Reset</a></li>
					<li><a id="button-pomodoro" class="radius button">Pomodoro</a></li>
				</ul>
			</div>
		</div>

		<a class="close-reveal-modal" style="z-index: 999;">&#215;</a>
		<img src="~/Content/img/TomatoIcon.png" width="100" class="logo hide-for-medium-down" alt="Trellodoro Logo" />
		<img src="~/Content/img/TomatoIcon.png" width="32" class="logo hide-for-large-up" alt="Trellodoro Logo" />
	</div>

	<audio id="sound-ring" data-filename="ring.mp3" src="/Content/audio/ring.mp3"></audio>
</form>

@section scripts
{
   <script type="text/javascript" src="/Scripts/home.js"></script>
}