<form class="custom">
	<div class="row">
		<div class="small-12 columns small-centered">
			<fieldset>
				<legend>Trello Card</legend>
				
				<div id="loggedout">
					<a id="connectLink" href="#" class="button radius">Connect To Trello</a>
				</div>

				<div id="loggedin">
					<div id="header">
						Logged in to as <span id="fullName"></span> 
						<a id="disconnect" href="#">Log Out</a>
					</div>
    
					<div id="output"></div>
				</div> 				
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<fieldset>
				<legend>Configure Pomodoro Time</legend>
				
				<div class="small-4 columns">
					<fieldset>
						<legend>Hours</legend>
						<input id="input-hours" type="tel" placeholder="0" />
					</fieldset>
				</div>

				<div class="small-4 columns">
					<fieldset>
						<legend>Minutes</legend>
						<input id="input-minutes" type="tel" placeholder="25" />
					</fieldset>
				</div>

				<div class="small-4 columns">
					<fieldset>
						<legend>Seconds</legend>
						<input id="input-seconds" type="tel" placeholder="0" />
					</fieldset>
				</div>
			</fieldset>
		</div>		
	</div>	

	<div class="row">
		<div class="small-12 columns small-centered">
			<fieldset>
				<legend>Alert Intervals (Enter blank time to disable)</legend>

				<table id="alert-times">
					<thead>
						<tr>
							<th>Minutes</th>
							<th>Sound</th>
							<th>Minutes</th>
							<th>Sound</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td><input class="alert-minute" type="tel" value="10" /></td>
							<td>{{ Form::select('alert_minute_20', $data['alerts'], 2) }}</td>

							<td><input class="alert-minute" type="tel" value="1" /></td>
							<td>{{ Form::select('alert_minute_10', $data['alerts'], 2) }}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>

	<div id="clock-modal" class="reveal-modal full full-background" data-reveal>
		<div id="clock-display-wrapper" style="text-align: center;">
			<div id="clock-display" class="hide-for-medium-down">Ready...</div>
			<h1 id="clock-display-mobile" class="hide-for-large-up">Ready...</h1>
		</div>

		<div id="footer">
			<div class="small-6 small-centered columns">
				<ul class="button-group even-2">
					<li><a id="button-start" class="radius button">Start</a></li>
					<li><a id="button-pause" class="radius button">Pause</a></li>
					<li><a id="button-resume" class="radius button">Resume</a></li>
					<li><a id="button-reset" class="radius button">Reset</a></li>
				</ul>
			</div>
		</div>

		<a class="close-reveal-modal" style="z-index: 999;">&#215;</a>
		<img src="~/Content/img/logo.png" class="logo hide-for-medium-down" alt="Game On Logo" />
		<img src="~/Content/img/logo-mobile.png" class="logo hide-for-large-up" alt="Game On Logo" />
	</div>

	[AUDIO LOOP]
	@*<audio id="sound-alert-{{ $alert->id }}" data-filename="{{ $alert->file_name }}" src="audios/{{ $alert->file_name }}"></audio>*@
</form>

@section scripts
{
   <script type="text/javascript" src="/Scripts/home.js"></script>
}