@{
    ViewBag.Title = "Support";
}

<div class="row">
	<div class="small-12 columns">
		<h2>Feedback</h2>
		
		<p>
			I'd love any feedback (positive and negative) about Trellodoro. You can
			contact me through the following means:
		</p>
		
		<p>
			<b><a href="https://trello.com/b/1UhfdPHs/trellodoro">Trellodoro Board</a>: </b>
			I've setup a Trello board (imagine your surprise) that you can comment add
			comments to for ideas or bugs.
		</p>
		
		<p>
			<b><a href="http://about.me/dillieo">About Me</a>: </b>
			This is my About.me page. You can find my various networks and contact me
			directly through them.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Support</h2>
		
		<p>
			In the spirit of Trello iteslf, I'm keeping Trellodoro free. Honestly all
			I did was wire up some API calls and do a little coding. But if you really
			like Trellodoro and want to help my kids get into college (or buy my wife and
			I a coffee one night), feel free to donate through the following means:
		</p>
		
		<p>
			<b><a href="https://coinbase.com/checkouts/8d32d00f572d336d35192c649de6aeab" target="_blank">Bitcoin</a>: </b>
			Bitcoin donations gladly accepted!
		</p>
		
		<p>
			<b><a href="https://www.paypal.com/cgi-bin/webscr&cmd=_donations&business=dillieo@gmail.com&item_number=DDTDO" target="_blank">Paypal</a>: </b>
			Paypal donations gladly accepted too!
		</p>
	</div>
</div>