/* Overrides for various elements. */

body, html
{
	height: 100%
}

form
{
	margin: 0 0 0 !important;
}

a.button:visited { color: #fff !important;}

thead tr th
{
	text-align: center;
}

.full-background
{
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	background-image: url('/Content/img/tomato_background.jpg');
}

.close-full-modal
{
	position: fixed !important;
	top: 5px !important;
	right: 5px !important;
}

#clock-display-wrapper
{
	position: relative;
}

#clock-display
{
	font-size: 20em;
	font-weight: bold;
	background-color: #FFFFFF;
	opacity: .7;
	line-height: 1.2;
}

#clock-display-mobile
{
	background-color: #FFFFFF;
	opacity:  .7;
}

.current-card {
	background-color: #FFFFFF;
	opacity:  .7;
	color: #000000;
}

.logo
{
	position: fixed !important;
	bottom: 0;
	left: 0;
}

#footer
{
    height: 50px;
    position: fixed;
    bottom: 60px;
    left: 0;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

.close-reveal-modal {
	color: #fff !important;
}